@charset "utf-8";

*{
	box-sizing: border-box;
}
body,div,p,h1{
	margin: 0;
	padding: 0;
}
img{
	border: 0;
	display: block;
	max-width: 100%;
	vertical-align: middle;
}



.js-silder{
	position: relative;	
	top: -120px;
	min-width: 320px;
	z-index: 0;
	margin-top: 120px;
}
.silder-scroll{
	width: 100%;
	overflow: hidden;
}
.silder-main{
	position: relative;
	width: 1920px;
	left: 50%;
	margin-left:-960px ;
	
}
.silder-main-img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.silder-main-img img{
	width: 100%;
}
.js-silder-ctrl{
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 100px;
}
.silder-ctrl-prev,
.silder-ctrl-next{
	position: absolute;
	top: 0;
	width: 56px;
	height: 56px;
	background: rgba(255,255,255,.5);
	
	cursor: pointer;
	
	border-radius: 28px;
	
}
.silder-ctrl-prev span,
.silder-ctrl-next span{
	color: #fff;
	text-align: center;
	font-size: 26px;
	line-height: 56px;
	width: 56px;
	height: 56px;
	display: block;
}
.silder-ctrl-prev{
	left: 5%;
   top: -570%;
	
}
.silder-ctrl-next{
	right: 5%;
	top: -570%;
}


.silder-ctrl-con{
	display: inline-block;
	width: 7%;
	padding: 10px 0;
	margin: 0 10px;
	cursor: pointer;
}
.silder-ctrl-con>span{
	display: block;
	line-height: 0;
	text-indent: -9999px;
	overflow: hidden;
	padding: 5px 0;
	cursor: pointer;
	background-color: rgba(255,255,255,.5);
	border-radius: 5px;
}
.silder-ctrl-con.active>span{
	background-color: white;
}

#nav1 li div{
	display:none;
}

#nav1 li:hover div{
	display:block;	
	background: rgba(255,255,255,.6);
	/*background:url(images/qipao.png) no-repeat;*/
	
}
#nav1 li:hover div a{
	font-size:14px;
	line-height: 60px;
}

.js-silder .silder-scroll img{

	height: 640px;
	width:100%;
}


#mian ul li:hover{

    transform: rotateX(12deg) rotateY(12deg);

}