@charset "utf-8";
/* CSS Document */
.news-title{ position:relative; top:-390px;}

.news-content{margin-left: 35px; }
.news-content .news-text{  width: 95%; line-height: 40px; margin: 30px 0px;}  
.news-content .new-pic{ width: 100%;}
.news-content .new-pic2{ margin-top: -314px; margin-left: 300px; }
/* 介绍 */
.job-title h3 { color: #000000; line-height: 100px; border-bottom: 2px solid #000000; font-weight: 600; margin-left: 35px;margin-right: 35px;}  
.job-one{ margin-left: 35px; margin-top: 35px;}
.job-one .job-intor{ width: 80px; font-weight: 600;}
.job-one .job-content{ width: 65%; margin-left: 85px; margin-top: -20px;}
.job-btn{text-align:center; margin-top:-60px;cursor:pointer;}


.news_px{ padding-top: 35px;}
.news_px input{ margin-right: 35px;}
#news_list_fx{
	width: 1200px;
	margin: 0 auto;
}

#news_list_fx li a{
	padding-left: 70px;
	background: url(../images/news_1.png) no-repeat;
	background-size: 34px 34px;
	background-position: left 20px; 
	border-bottom: 2px dashed #c1c3c2;
	padding-bottom: 36px;
}
#news_list_fx li:last-child a{
	border-bottom: none;
}
#news_list_fx li a h2{
	font-size: 24px;
	color: black;
	font-weight: bold;
	padding: 36px 0;
}
#news_list_fx li a p{
	font-size: 18px;
	color: black;
	line-height: 36px;
}
#news_list_fx li a input{
	width: 124px;
	height: 26px;
	background: #fef000;
	border-radius: 13px;
	color: #3f989b;
	font-size: 16px;
	box-shadow: 0 0 8px #d9d675;
	margin-top: 30px;
}
#news_list_fx img{
	
	width: 350px;
	float: left;
	margin-left: 35px;
	margin-top: 35px;
	margin-bottom: 20px;
	
}
#news_list_fx .news_fx_info{ 
	width: 720px; 
	float: right;
	margin-right: 35px;
}