<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,467},{40,68}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,10},{40,68}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>bomb_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{42,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{42,38}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>bullet_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,497},{9,14}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{9,14}}</string>
                <key>sourceSize</key>
                <string>{41,34}</string>
            </dict>
            <key>bullet_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,503},{7,14}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{7,14}}</string>
                <key>sourceSize</key>
                <string>{41,44}</string>
            </dict>
            <key>change_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,467},{38,58}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{38,58}}</string>
                <key>sourceSize</key>
                <string>{76,88}</string>
            </dict>
            <key>enemy_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{110,166}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{110,166}}</string>
                <key>sourceSize</key>
                <string>{152,186}</string>
            </dict>
            <key>enemy_big_hurt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{109,170}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{109,170}}</string>
                <key>sourceSize</key>
                <string>{131,204}</string>
            </dict>
            <key>enemy_big_hurt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,354},{110,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{110,169}}</string>
                <key>sourceSize</key>
                <string>{146,197}</string>
            </dict>
            <key>enemy_big_hurt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,178},{110,174}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{110,174}}</string>
                <key>sourceSize</key>
                <string>{142,194}</string>
            </dict>
            <key>enemy_big_hurt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{111,167}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{111,167}}</string>
                <key>sourceSize</key>
                <string>{139,193}</string>
            </dict>
            <key>enemy_big_hurt5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{110,174}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{110,174}}</string>
                <key>sourceSize</key>
                <string>{136,192}</string>
            </dict>
            <key>enemy_big_hurt6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,174}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{111,174}}</string>
                <key>sourceSize</key>
                <string>{153,200}</string>
            </dict>
            <key>enemy_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,303},{46,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{46,60}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>enemy_middle_hurt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,141},{48,64}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,7},{48,64}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>enemy_middle_hurt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,240},{46,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{46,61}}</string>
                <key>sourceSize</key>
                <string>{74,85}</string>
            </dict>
            <key>enemy_middle_hurt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,191},{47,61}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,11},{47,61}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>enemy_middle_hurt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,141},{47,62}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{47,62}}</string>
                <key>sourceSize</key>
                <string>{87,92}</string>
            </dict>
            <key>enemy_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,466},{34,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{34,24}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>enemy_small_hurt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,466},{37,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{37,25}}</string>
                <key>sourceSize</key>
                <string>{65,55}</string>
            </dict>
            <key>enemy_small_hurt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,466},{35,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{35,31}}</string>
                <key>sourceSize</key>
                <string>{57,53}</string>
            </dict>
            <key>enemy_small_hurt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,466},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,18},{38,34}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,466},{28,29}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{28,29}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>player.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,114},{67,80}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{67,80}}</string>
                <key>sourceSize</key>
                <string>{85,88}</string>
            </dict>
            <key>player_hurt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{68,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{68,83}}</string>
                <key>sourceSize</key>
                <string>{86,91}</string>
            </dict>
            <key>player_hurt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,114},{67,82}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{67,82}}</string>
                <key>sourceSize</key>
                <string>{85,90}</string>
            </dict>
            <key>player_hurt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,72},{67,83}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{67,83}}</string>
                <key>sourceSize</key>
                <string>{85,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plane.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2f0539ddddab26d27c5db2b0bcbe0c5:1/1$</string>
            <key>textureFileName</key>
            <string>plane.png</string>
        </dict>
    </dict>
</plist>
